<div style="height: calc(100vh - 50px)">

    <div class="container">
        <mat-card>
            <mat-card-title>Create a Car</mat-card-title>
            <mat-card-content>
                <form (submit)="onCreate(createform)" #createform="ngForm" >
                    <mat-form-field>
                        <input matInput
                          type="text"
                           name="brand"
                           ngModel
                            required
                           #brandInput="ngModel"
                           placeholder="Please give the Brand">
                        <mat-error *ngIf="brandInput.invalid">Give a Brand</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               type="text"
                               name="model"
                               ngModel
                               required
                               #modelInput="ngModel"
                               placeholder="Please give the Model">
                        <mat-error *ngIf="modelInput.invalid">Give a Model</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               type="text"
                               name="power"
                               ngModel
                               required
                               #powerInput="ngModel"
                               placeholder="Please give the Power">
                        <mat-error *ngIf="powerInput.invalid">Give the Power</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               type="number"
                               name="seats"
                               ngModel
                               required
                               #seatsInput="ngModel"
                               placeholder="Please give the Seats">
                        <mat-error *ngIf="seatsInput.invalid">Give the Seats</mat-error>
                    </mat-form-field>

                    <input #fileinput style="display: none" type="file" name="file" (change)="onFileSelected($event)">
                    <button matInput class="btn btn-outline-success" type="button" (click)="fileinput.click()">
                        Choose Image
                    </button>
                    <br><br>

                    <button mat-raised-button color="primary" type="submit">Create</button>

                </form>
            </mat-card-content>
        </mat-card>

    </div>




</div>
